/* General
------------------------------- */
body {
padding-top: 60px;
}

#page {
  padding: 18px 0;
}

/* Hero
------------------------------- */
header .page-header {
  padding-bottom: 15px;
}

header p.lead {
  margin-bottom: 0;
}

header div.actions {
  margin-top: 9px;
}

header div.actions .btn-toolbar {
  margin-bottom: 0;
}

/* Posts
------------------------------- */
.theme h4 {
  margin-bottom: 9px;
}

.theme h4 a {
  color: #425dbc;
}

.theme img.image {
  max-width: 100%;
  margin-top: 9px;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/* JavaScript event trig­gered by media query rules
   @see: http://www.paulrhayes.com/2011-11/use-css-transitions-to-link-media-queries-and-javascript/
------------------------------- */
.mq {
  -webkit-transition: width 0.001ms;
  -moz-transition: width 0.001ms;
  -o-transition: width 0.001ms;
  transition: width 0.001ms;
  width: 0;
}

.label-important,
.badge-important {
  background-color: #b94a48;
}

.label-warning,
.badge-warning {
  background-color: #f89406;
}

.label-success,
.badge-success {
  background-color: #468847;
}

.label-info,
.badge-info {
  background-color: #3a87ad;
}

.label-inverse,
.badge-inverse {
  background-color: #333333;
}

.mBottom {
  bottom: 30px;
}

/* This parent can be any width and height */
.block {
  /*text-align: center;*/
  height: 100%;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-250px 0 0 -250px;
}
#loginModal {
  width: 500px;
}
.modal-body {
  max-height: 500px;
}

#theme-show {
  
}